ody {
  font-family: Arial, sans-serif;
background: linear-gradient(45grad, #254322, #1287ff);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 60px;
  box-sizing: border-box;
}

form {
  background-color: #945a91;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;

}

h1.nombre {
  text-align: center;
  color: #0c0c0c;
  margin-bottom: 25px;
}

section {
  margin-bottom: 20px;
}

p {
  margin-bottom: 8px;
  color: #000000;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

label {
  color: #000000;
  padding: 0%;
  text-align: center;
  width: 100px;
  border: 10px;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
}