body {
    margin: 0;
    background-color: #a9d8eb;
    font-family: Arial, sans-serif;
}

/* Encabezado */
.encabezado {
    background-color: #910dce;
    color: white;
    padding: 25px;
    text-align: center;
}

.menu {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.menu li {
    display: inline-block;
    margin: 0 15px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.menu a:hover {
    text-decoration: underline;
}

/* Sección de bienvenida */
.bienvenida {
    background: rgb(253, 140, 210);
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}

.bienvenida h2 {
    margin-top: 0;
}

/* Título galería */
.galeria h2 {
    text-align: center;
    margin-top: 30px;
}

/* Tarjetas */
.contenedor {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 20px;
}

.tarjeta {
    background: white;
    width: 250px;
    padding: 15px;
    border-radius: 14px;
    text-align: center;
    box-shadow: 0 2px 12px rgba(0,0,0,0.15);
}

.imagen {
    border: 3px solid #141414;
    padding: 10px;
    border-radius: 10px;
    margin: 0;
}

.imagen img {
    width: 100%;
}

.tarjeta h3 {
    margin: 15px 0 5px;
}

.tarjeta p {
    color: #555;
}

button {
    background-color: #0094ff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #0075cc;
}

/* Sobre nosotros */
.sobre {
    background: rgb(240, 143, 235);
    width: 80%;
    margin: 20px auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}

.sobre h2 {
    margin-top: 0;
}

/* Pie de página */
.pie {
    background-color: #8d09ca;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
